@model LPRSystem.Web.UI.Models.OrganizationViewModel

@{
    ViewData["Title"] = "Organization";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        @using (Html.BeginForm("Create", "Organization", FormMethod.Post))
        {
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="Id">Organization Id</label>
                        @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @id = "Id", placeholder = "Enter Organization id" })
                    </div>
                    <div class="form-group">
                        <label for="Name">Organization Name</label>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @id = "Name", placeholder = "Enter Organization name" })
                    </div>

                    <div class="form-group">
                        <label for="Code">Organization Code</label>
                        @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @id = "Code", placeholder = "Enter Organization code" })
                    </div>
                    <div class="form-group">
                        <label for="Address">Address</label>
                        @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @id = "Address", placeholder = "Enter Address" })
                    </div>

                    <div class="form-group">
                        <label for="Email">Email</label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @id = "Email", placeholder = "Enter Email" })
                    </div>
                    <div class="form-group">
                        <label for="Phone">Phone</label>
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @id = "Phone", placeholder = "Enter Phone no" })
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        }

    </div>
</div>